{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>compra</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/diseños.css' %}">
</head>

</style>



</head>
<body>
    <div class="container d-flex justify-content-center align-items-center min-vh-100">

        <div class="row w-100 justify-content-center">
            <div class="col-md-6 col-lg-4 p-4 rounded text-white" style="background-color: black;">

                <h1 class="text-center mb-4" style="color: #0dcaf0;">Gaming Store</h1>
                <hr class="mb-4">
                <h2 class="text-center mb-4">Gracias por tu compra!</h2>
                <a href="../index.html" class="btn btn-primary w-100">Inicio</a>
            

            </div>
        </div>

    </div>
</body>
</html>