{% extends "juegos/base.html" %}
{% load static %}
{% block title %}Home - Gaming Store{% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/diseños.css' %}">

<div class="container mt-3 bg-secondary">
    <div class="row">
        <div class="col mt-5 pt-4">
            <a href="{% url 'editar_perfil' %}" class="btn btn-light d-block mb-3">Modificar perfil</a>
            <a href="{% url 'historial_compras' %}" class="btn btn-light d-block mb-3">Ver historial de compras</a>
            <a href="{% url 'ver_favoritos' %}" class="btn btn-light d-block mb-3">Ver favoritos</a>
            <a href="{% url 'cerrar_sesion' %}" class="btn w-100 mb-3 fw-bold text-start text-white"
                style="background-color: #221535; border: 1px solid #3d2b56;">Cerrar sesión</a>
        </div>



        <div class="col-md-9 mx-auto">
            <div class="card bg-transparent border-0 shadow-lg overflow-hidden" style="border-radius: 15px;">

                <div class="text-center p-5 d-flex justify-content-center align-items-center"
                    style="background-color: #111111; min-height: 250px; border-bottom: 4px solid #00ffff;">

                    {% if request.user.perfil.foto_perfil %}
                    <img src="{{ request.user.perfil.foto_perfil.url }}" alt="Foto de perfil"
                        class="rounded-circle shadow-lg"
                        style="width: 200px; height: 200px; object-fit: cover; border: 4px solid #00ffff; box-shadow: 0 0 15px rgba(0, 255, 255, 0.4);">
                    {% else %}
                    <i class="bi bi-person-circle" style="font-size: 150px; color: #b3b3b3;"></i>
                    {% endif %}

                </div>

                <div class="p-4" style="background-color: #221535;">
                    <h4 class="text-white m-0 fw-bold">
                        {{ request.user.username }}
                    </h4>
                    <p class="text-white-50 m-0 mt-2 text-center text-md-start" style="font-size: 1rem;">
                        {{ request.user.email }}
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>
{%endblock %}