{% extends "juegos/base.html" %}
{% load static %}
{% block title %}Home - Gaming Store{% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/diseños.css' %}">

<div class="container mt-3 bg-secondary">
    <div class="row">
        <div class="col mt-5 pt-4">
            <a href="{% url 'editar_perfil' %}" class="btn btn-light d-block mb-3">Modificar perfil</a>
            <a href="#" class="btn btn-light d-block mb-3">Registrar Metodo de Pago</a>
            <a href="{% url 'ver_favoritos' %}" class="btn btn-light d-block mb-3">Ver favoritos</a>
            <a href="{% url 'cerrar_sesion' %}" class="btn w-100 mb-3 fw-bold text-start text-white"
                style="background-color: #221535; border: 1px solid #3d2b56;">Cerrar sesión</a>
        </div>



        <div class="col-md-9 mx-auto">
            <div class="card bg-transparent border-0 shadow-lg overflow-hidden" style="border-radius: 15px;">

                <div class="text-center p-5 d-flex justify-content-center align-items-center"
                    style="background-color: #111111; min-height: 250px; border-bottom: 4px solid #00ffff;">

                    {% if request.user.perfil.foto_perfil %}
                    <img src="{{ request.user.perfil.foto_perfil.url }}" alt="Foto de perfil"
                        class="rounded-circle shadow-lg"
                        style="width: 200px; height: 200px; object-fit: cover; border: 4px solid #00ffff; box-shadow: 0 0 15px rgba(0, 255, 255, 0.4);">
                    {% else %}
                    <i class="bi bi-person-circle" style="font-size: 150px; color: #b3b3b3;"></i>
                    {% endif %}

                </div>

                <div class="p-4" style="background-color: #221535;">
                    <h3 class="text-white m-0 fw-bold text-center text-md-start">
                        {% if request.user.first_name %}
                        {{ request.user.first_name }} {{ request.user.last_name }}
                        {% else %}
                        {{ request.user.username }}
                        {% endif %}
                    </h3>
                    <p class="text-white-50 m-0 mt-2 text-center text-md-start" style="font-size: 1rem;">
                        {{ request.user.email }}
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
</body>
<div class="pt-5 pb-4 mt-5" style="background-color: var(--color1); border-top: 1px solid var(--color3);">
    <div class="container text-center text-md-start">
        <div class="row text-center text-md-start">

            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="mb-4 fw-bold" style="color: var(--color4);">Gaming Store</h5>
                <p style="color: #a0a4b0;">
                </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 fw-bold" style="color: #ffffff;">Enlaces</h5>
                <p><a href="{% url 'perfil' %}" class="footer-link">Mi Perfil</a></p>
                <p><a href="{% url 'ver_carrito' %}" class="footer-link">Carro de Compras</a></p>
                <p><a href="categorias.html" class="footer-link" data-bs-toggle="offcanvas"
                        data-bs-target="#menuLateral">Categorías</a></p>
                <p><a href="ofertas.html" class="footer-link">Ofertas Especiales</a></p>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 fw-bold" style="color: #ffffff;">Soporte</h5>
                <p><a href="#" class="footer-link">Preguntas Frecuentes</a></p>
                <p><a href="#" class="footer-link">Soporte Técnico</a></p>
                <p><a href="#" class="footer-link">Términos de Servicio</a></p>
                <p><a href="#" class="footer-link">Política de Privacidad</a></p>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 fw-bold" style="color: #ffffff;">Contacto</h5>
                <p style="color: #a0a4b0;"> soporte@gamingstore.com</p>
                <p style="color: #a0a4b0;"> +56 9 1234 5678</p>
            </div>
        </div>
    </div>
</div>

</html>
{%endblock %}