{% extends "juegos/base.html" %}
{% load static %}
{% block title %}Gaming Store{% endblock %}
{% block content %}

<!-- Carrusel -->
<div class="container-fluid mt-4 px-5">
    <div id="demo" class="carousel slide container-fluid" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
        </div>

        <div class="carousel-inner">

            <div class="carousel-item active">
                <a href="{% url 'detalle_juego' 1 %}" style="text-decoration: none; color: white;">
                    <img src="{% static 'img/minecraft-banner2.jpg' %}" alt="Minecraft"
                        style="height: 450px ;object-fit: fill;" class="d-block w-100">
                    <div class="carousel-caption">
                        <h3>Minecraft</h3>
                    </div>
                </a>
            </div>

            <div class="carousel-item">
                <a href="{% url 'detalle_juego' 39 %}" style="text-decoration: none; color: white;">
                    <img src="{% static 'img/rust_banner.jpg' %}" alt="Rust" style="height: 450px ;object-fit: fill;"
                        class="d-block w-100">
                    <div class="carousel-caption">
                        <h3>Rust</h3>
                    </div>
                </a>
            </div>

            <div class="carousel-item">
                <a href="{% url 'detalle_juego' 29 %}" style="text-decoration: none; color: white;">
                    <img src="{% static 'img/Hollow_knight-banner.png' %}" alt="Hollow Knight"
                        style="height: 450px ;object-fit: fill;" class="d-block w-100">
                    <div class="carousel-caption">
                        <h3>Hollow Knight</h3>
                    </div>
                </a>
            </div>

            <div class="carousel-item">
                <a href="{% url 'detalle_juego' 46 %}" style="text-decoration: none; color: white;">
                    <img src="{% static 'img/banner Until dawn.jpg' %}" alt="Until Dawn"
                        style="height: 450px ;object-fit: fill;" class="d-block w-100">
                    <div class="carousel-caption">
                        <h3>Until Dawn</h3>
                    </div>
                </a>
            </div>

            <div class="carousel-item">
                <a href="{% url 'detalle_juego' 45 %}" style="text-decoration: none; color: white;">
                    <img src="{% static 'img/tlou-banner.jpg' %}" alt="The Last of Us Part II"
                        style="height: 450px ;object-fit: fill;" class="d-block w-100">
                    <div class="carousel-caption">
                        <h3>The Last of Us Part II</h3>
                    </div>
                </a>
            </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</div>


<!-- Nuestro catalogo -->
<div class="container mt-4 pt-3">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Nuestro Catalogo</h2>
        <a href="{% url 'nuestro_catalogo' %}" class="btn btn-light">Ver todo</a>
    </div>
    <div class="row row-cols-2 row-cols-md-4 row-cols-lg-4 g-3">        
        {% for juego in ultimos%}
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <a href="{% url 'agregar_favoritos' juego.id %}"
                        style="position: absolute; top: 0px; right: 15px; z-index: 10; color: white; font-size: 35px; font-weight: bold; text-decoration: none; text-shadow: 2px 2px 4px black;"
                        title="Agregar a favoritos">
                        ♡
                    </a>
                    <a href="{% url 'detalle_juego' juego.id %}">
                        {% if juego.portada %}
                        <img class="card-img-top" src="{{ juego.portada.url }}" alt="{{ juego.titulo }}"
                            style="object-fit: cover; height: 425px;">
                        {% else %}
                        <img class="card-img-top" src="{% static 'img/no-image.png' %}" alt="Sin"
                            style="object-fit: cover; height: 425px;">
                        {% endif %}
                    </a>
                    <div class="card-body text-center d-flex flex-column">

                        <a href="{% url 'detalle_juego' juego.id %}" style="text-decoration: none; color: white;">
                            <h5 class="card-title fw-bold" style="font-size: 1.25rem;">{{ juego.titulo }}</h5>
                        </a>

                        {% if juego.en_oferta %}
                        <strike class="fw-bold mb-2" style="font-size: 18px; color: #ff4d4d;">${{ juego.precio }}</strike>
                        <h5 class="card-title fw-bold" style="font-size: 2rem;">${{ juego.precio_oferta }}</h5>
                        {% else %}
                        <br>
                        <h5 class="card-title fw-bold" style="font-size: 2rem;">${{ juego.precio }}</h5>
                        {% endif %}

                        <div class="mt-auto">
                            {% if juego.stock > 0 %}
                            <a href="{% url 'agregar_al_carrito' juego.id %}" style="text-decoration: none;">
                                <button class="btn btn-sm"
                                    style="background-color: #3d2b56; color: white; width: 100%; padding: 8px 0;">Agregar al
                                    Carrito</button>
                            </a>
                            {% else %}
                            <button class="btn btn-sm" disabled
                                style="background-color: #555; color: #999; width: 100%; padding: 8px 0; cursor: not-allowed;">Sin
                                Stock</button>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-12">
                <p class="text-white text-center">No hay juegos disponibles.</p>
            </div>
            {% endfor %}
    </div>
</div>

<!-- Ofertas -->
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Nuestras Ofertas</h2>
        <a href="{% url 'mas_ventas' %}" class="btn btn-light">Ver todo</a>
    </div>

        <div class="row row-cols-2 row-cols-md-4 row-cols-lg-4 g-3">
            {% for juego in ofertas%}
                {% if juego.en_oferta %}
                <div class="col">
                    <div class="card h-100 shadow-sm">
                        <a href="{% url 'agregar_favoritos' juego.id %}"
                            style="position: absolute; top: 0px; right: 15px; z-index: 10; color: white; font-size: 35px; font-weight: bold; text-decoration: none; text-shadow: 2px 2px 4px black;"
                            title="Agregar a favoritos">
                            ♡
                        </a>
                        <a href="{% url 'detalle_juego' juego.id %}">
                            {% if juego.portada %}
                            <img class="card-img-top" src="{{ juego.portada.url }}" alt="{{ juego.titulo }}"
                                style="object-fit: cover; height: 425px;">
                            {% else %}
                            <img class="card-img-top" src="{% static 'img/no-image.png' %}" alt="Sin"
                                style="object-fit: cover; height: 425px;">
                            {% endif %}
                        </a>
                        <div class="card-body text-center d-flex flex-column">
                            <a href="{% url 'detalle_juego' juego.id %}" style="text-decoration: none; color: white;">
                                <h5 class="card-title fw-bold" style="font-size: 1.25rem;">{{ juego.titulo }}</h5>
                            </a>
                            {% if juego.en_oferta %}
                            <strike class="fw-bold mb-2" style="font-size: 18px; color: #ff4d4d;">${{ juego.precio }}</strike>
                            <h5 class="card-title fw-bold" style="font-size: 2rem;">${{ juego.precio_oferta }}</h5>
                            {% else %}
                            <br>
                            <h5 class="card-title fw-bold" style="font-size: 2rem;">${{ juego.precio }}</h5>
                            {% endif %}
                            <div class="mt-auto">
                                {% if juego.stock > 0 %}
                                <a href="{% url 'agregar_al_carrito' juego.id %}" style="text-decoration: none;">
                                    <button class="btn btn-sm"
                                        style="background-color: #3d2b56; color: white; width: 100%; padding: 8px 0;">Agregar al
                                        Carrito</button>
                                </a>
                                {% else %}
                                <button class="btn btn-sm" disabled
                                    style="background-color: #555; color: #999; width: 100%; padding: 8px 0; cursor: not-allowed;">Sin
                                    Stock</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% empty %}
            <div class="col-12">
                <p class="text-white text-center">No hay juegos disponibles.</p>
            </div>
            {% endfor %}
        </div>
</div>


<!-- Juegos destacados -->
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Nuestros Destacados</h2>
        <a href="{% url 'nuevos_lanzamientos' %}" class="btn btn-light">Ver todo</a>
    </div>
        <div class="row row-cols-2 row-cols-md-4 row-cols-lg-4 g-3">
            {% for juego in destacados%}
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <a href="{% url 'agregar_favoritos' juego.id %}"
                        style="position: absolute; top: 0px; right: 15px; z-index: 10; color: white; font-size: 35px; font-weight: bold; text-decoration: none; text-shadow: 2px 2px 4px black;"
                        title="Agregar a favoritos">
                        ♡
                    </a>
                    <a href="{% url 'detalle_juego' juego.id %}">
                        {% if juego %}
                        <img class="card-img-top" src="{{ juego.portada.url }}" alt="{{ juego.titulo }}"
                            style="object-fit: cover; height: 425px;">
                        {% else %}
                        <img class="card-img-top" src="{% static 'img/no-image.png' %}" alt="Sin"
                            style="object-fit: cover; height: 425px;">
                        {% endif %}
                    </a>
                    <div class="card-body text-center d-flex flex-column">

                        <a href="{% url 'detalle_juego' juego.id %}" style="text-decoration: none; color: white;">
                            <h5 class="card-title fw-bold" style="font-size: 1.25rem;">{{ juego.titulo }}</h5>
                        </a>

                        {% if juego.en_oferta %}
                        <strike class="fw-bold mb-2" style="font-size: 18px; color: #ff4d4d;">${{ juego.precio }}</strike>
                        <h5 class="card-title fw-bold" style="font-size: 2rem;">${{ juego.precio_oferta }}</h5>
                        {% else %}
                        <br>
                        <h5 class="card-title fw-bold" style="font-size: 2rem;">${{ juego.precio }}</h5>
                        {% endif %}

                        <div class="mt-auto">
                            {% if juego.stock > 0 %}
                            <a href="{% url 'agregar_al_carrito' juego.id %}" style="text-decoration: none;">
                                <button class="btn btn-sm"
                                    style="background-color: #3d2b56; color: white; width: 100%; padding: 8px 0;">Agregar al
                                    Carrito</button>
                            </a>
                            {% else %}
                            <button class="btn btn-sm" disabled
                                style="background-color: #555; color: #999; width: 100%; padding: 8px 0; cursor: not-allowed;">Sin
                                Stock</button>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-12">
                <p class="text-white text-center">No hay juegos disponibles.</p>
            </div>
            {% endfor %}
        </div>
</div>
{% endblock %}