{% extends "juegos/base.html" %}
{% load static %}
{% block title %}Gaming Store{% endblock %}
{% block content %}

<div class="container-fluid mt-4 px-5">
    <div id="demo" class="carousel slide container-fluid" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
        </div>

        <div class="carousel-inner">

            <div class="carousel-item active">
                <a href="{% url 'detalle_juego' 1 %}" style="text-decoration: none; color: white;">
                    <img src="{% static 'img/Eldenring-banner.jpg' %}" alt="Elden Ring"
                        style="height: 500px; object-fit: cover;" class="d-block w-100">
                    <div class="carousel-caption">
                        <h3>Elden Ring</h3>
                    </div>
                </a>
            </div>

            <div class="carousel-item">
                <a href="{% url 'detalle_juego' 2 %}" style="text-decoration: none; color: white;">
                    <img src="{% static 'img/Rust-banner.jpg' %}" alt="Rust" style="height: 500px; object-fit: cover;"
                        class="d-block w-100">
                    <div class="carousel-caption">
                        <h3>Rust</h3>
                    </div>
                </a>
            </div>

            <div class="carousel-item">
                <a href="{% url 'detalle_juego' 3 %}" style="text-decoration: none; color: white;">
                    <img src="{% static 'img/Hollow_knight-banner.png' %}" alt="Hollow Knight"
                        style="height: 500px; object-fit: cover;" class="d-block w-100">
                    <div class="carousel-caption">
                        <h3>Hollow Knight</h3>
                    </div>
                </a>
            </div>

            <div class="carousel-item">
                <a href="{% url 'detalle_juego' 4 %}" style="text-decoration: none; color: white;">
                    <img src="{% static 'img/banner Until dawn.jpg' %}" alt="Until Dawn"
                        style="height: 500px; object-fit: cover;" class="d-block w-100">
                    <div class="carousel-caption">
                        <h3>Until Dawn</h3>
                    </div>
                </a>
            </div>

            <div class="carousel-item">
                <a href="{% url 'detalle_juego' 5 %}" style="text-decoration: none; color: white;">
                    <img src="{% static 'img/tlou-banner.jpg' %}" alt="The Last of Us Part II"
                        style="height: 500px; object-fit: cover;" class="d-block w-100">
                    <div class="carousel-caption">
                        <h3>The Last of Us Part II</h3>
                    </div>
                </a>
            </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</div>

<!-- Juegos últimos añadidos -->
<div class="container mt-4 pt-3">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Nuestro Catalogo</h2>
        <a href="{% url 'nuestro_catalogo' %}" class="btn btn-light">Ver todo</a>
    </div>
    <div class="row row-cols-4 row-cols-md-4 g-3">
        {% for juego in ultimos%}
        <div class="col">
            <div class="card h-100 shadow-sm">
                <a href="{% url 'agregar_favoritos' juego.id %}"
                    style="position: absolute; top: 0px; right: 15px; z-index: 10; color: white; font-size: 35px; font-weight: bold; text-decoration: none; text-shadow: 2px 2px 4px black;"
                    title="Agregar a favoritos">
                    ♡
                </a>
                <a href="{% url 'detalle_juego' juego.id %}">
                    {% if juego.imagen %}
                    <img class="card-img-top" src="{{ juego.imagen.url }}" alt="{{ juego.titulo }}"
                        style="object-fit: cover; height: 425px;">
                    {% else %}
                    <img class="card-img-top" src="{% static 'img/no-image.png' %}" alt="Sin imagen"
                        style="object-fit: cover; height: 425px;">
                    {% endif %}
                </a>
                <div class="card-body text-center">
                    <a href="{% url 'detalle_juego' juego.id %}" style="text-decoration: none; color: white;">
                        <h5 class="card-title fw-bold" style="font-size: 1.25rem;">{{ juego.titulo }}</h5>
                    </a>
                    <h5 class="card-title fw-bold" style="font-size: 1rem;">${{ juego.precio }}</h5>
                    <a href="{% url 'agregar_al_carrito' juego.id %}" style="text-decoration: none;">
                        <button class="btn btn-sm" style="background-color: #3d2b56; color: white; width: 100%;">Agregar
                            al Carrito</button>
                    </a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <p class="text-white text-center">No hay juegos disponibles.</p>
        </div>
        {% endfor %}
    </div>



    <!-- Ofertas -->
    <div class="d-flex justify-content-between align-items-center mb-4 mt-5">
        <h2>Lo más Vendido</h2>
        <a href="{% url 'mas_ventas' %}" class="btn btn-light">Ver todo</a>
    </div>

    <div class="row row-cols-2 row-cols-md-4 g-4">
        {% for juego in ofertas%}
        <div class="col">
            <div class="card h-100 shadow-sm">
                <a href="{% url 'agregar_favoritos' juego.id %}"
                    style="position: absolute; top: 0px; right: 15px; z-index: 10; color: white; font-size: 35px; font-weight: bold; text-decoration: none; text-shadow: 2px 2px 4px black;"
                    title="Agregar a favoritos">
                    ♡
                </a>
                {% if juego.imagen %}
                <img class="card-img-top" src="{{ juego.imagen.url }}" alt="{{ juego.titulo }}"
                    style="object-fit: cover; height: 385px;">
                {% else %}
                <img class="card-img-top" src="{% static 'img/no-image.png' %}" alt="Sin imagen"
                    style="object-fit: cover; height: 385px;">
                {% endif %}
                <div class="card-body text-center">
                    <h5 class="card-title fw-bold" style="font-size: 1rem;">{{ juego.titulo }}</h5>
                    <h5 class="card-title fw-bold" style="font-size: 1rem;">${{ juego.precio }}</h5>
                    <a href="{% url 'agregar_al_carrito' juego.id %}" style="text-decoration: none;">
                        <button class="btn btn-sm" style="background-color: #3d2b56; color: white; width: 100%;">Agregar
                            al Carrito</button>
                    </a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <p class="text-white text-center">No hay juegos disponibles.</p>
        </div>
        {% endfor %}
    </div>


    <!-- Juegos destacados -->
    <div class="d-flex justify-content-between align-items-center mb-4 mt-5">
        <h2>Nuevos Lanzamientos</h2>
        <a href="{% url 'nuevos_lanzamientos' %}" class="btn btn-light">Ver todo</a>
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for juego in destacados%}
        <div class="col">
            <div class="card h-100 shadow-sm">
                <a href="{% url 'agregar_favoritos' juego.id %}"
                    style="position: absolute; top: 0px; right: 15px; z-index: 10; color: white; font-size: 35px; font-weight: bold; text-decoration: none; text-shadow: 2px 2px 4px black;"
                    title="Agregar a favoritos">
                    ♡
                </a>
                {% if juego.imagen %}
                <img class="card-img-top" src="{{ juego.imagen.url }}" alt="{{ juego.titulo }}"
                    style="object-fit: cover; height: 385px;">
                {% else %}
                <img class="card-img-top" src="{% static 'img/no-image.png' %}" alt="Sin imagen"
                    style="object-fit: cover; height: 385px;">
                {% endif %}
                <div class="card-body text-center">
                    <h5 class="card-title fw-bold" style="font-size: 1rem;">{{ juego.titulo }}</h5>
                    <h5 class="card-title fw-bold" style="font-size: 1rem;">${{ juego.precio }}</h5>
                    <a href="{% url 'agregar_al_carrito' juego.id %}" style="text-decoration: none;">
                        <button class="btn btn-sm" style="background-color: #3d2b56; color: white; width: 100%;">Agregar
                            al Carrito</button>
                    </a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <p class="text-white text-center">No hay juegos disponibles.</p>
        </div>
        {% endfor %}
    </div>
</div>

<div class="pt-5 pb-4 mt-5" style="background-color: var(--color1); border-top: 1px solid var(--color3);">
    <div class="container text-center text-md-start">
        <div class="row text-center text-md-start">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="mb-4 fw-bold" style="color: var(--color4);">Gaming Store</h5>
                <p style="color: #a0a4b0;"></p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 fw-bold" style="color: #ffffff;">Enlaces</h5>
                <p><a href="{% url 'perfil' %}" class="footer-link">Mi Perfil</a></p>
                <p><a href="{% url 'ver_carrito' %}" class="footer-link">Carro de Compras</a></p>
                <p><a href="#" class="footer-link" data-bs-toggle="offcanvas" data-bs-target="#menu">Categorías</a></p>
                <p><a href="{% url 'mas_ventas' %}" class="footer-link">Ofertas Especiales</a></p>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 fw-bold" style="color: #ffffff;">Soporte</h5>
                <p><a href="#" class="footer-link">Preguntas Frecuentes</a></p>
                <p><a href="#" class="footer-link">Soporte Técnico</a></p>
                <p><a href="#" class="footer-link">Términos de Servicio</a></p>
                <p><a href="#" class="footer-link">Política de Privacidad</a></p>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 fw-bold" style="color: #ffffff;">Contacto</h5>
                <p style="color: #a0a4b0;">soporte@gamingstore.com</p>
                <p style="color: #a0a4b0;">+56 9 1234 5678</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}