{% extends "juegos/base.html" %}
{% load static %}

{% block title %}Nuevos Lanzamientos - Gaming Store{% endblock %}

{% block content %}
<div class="container mt-4 pt-3">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Nuevos Lanzamientos</h2>
    </div>
</div>

<div class="container mt-5">
    <div class="row row-cols-2 row-cols-md-5 g-4">
        <div class="col">
            <div class="card h-100 shadow-sm">
                <img class="card-img-top" src="{% static 'img/gta6.jpg' %}" alt="GTA 6">
                <div class="card-body text-center">
                    <h5 class="card-title fw-bold" style="font-size: 1rem;">GTA 6</h5>
                    <h5 class="card-title fw-bold" style="font-size: 1rem;">$100.00</h5>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 shadow-sm">
                <img class="card-img-top" src="{% static 'img/until-dawn-banner.jpg' %}" alt="Until Dawn">
                <div class="card-body text-center">
                    <h5 class="card-title fw-bold" style="font-size: 1rem;">Until Dawn</h5>
                    <h5 class="card-title fw-bold" style="font-size: 1rem;">$60.00</h5>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 shadow-sm">
                <img class="card-img-top" src="{% static 'img/tlou-banner.jpg' %}" alt="The Last of Us">
                <div class="card-body text-center">
                    <h5 class="card-title fw-bold" style="font-size: 1rem;">The Last of Us</h5>
                    <h5 class="card-title fw-bold" style="font-size: 1rem;">$70.00</h5>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 shadow-sm">
                <img class="card-img-top" src="{% static 'img/Eldenring.jpg' %}" alt="Elden Ring">
                <div class="card-body text-center">
                    <h5 class="card-title fw-bold" style="font-size: 1rem;">Elden Ring</h5>
                    <h5 class="card-title fw-bold" style="font-size: 1rem;">$50.00</h5>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100 shadow-sm">
                <img class="card-img-top" src="{% static 'img/Hollow_knight.png' %}" alt="Hollow Knight">
                <div class="card-body text-center">
                    <h5 class="card-title fw-bold" style="font-size: 1rem;">Hollow Knight</h5>
                    <h5 class="card-title fw-bold" style="font-size: 1rem;">$15.00</h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
