{% extends "juegos/base.html" %}
{% load static %}

{% block title %}Nuevos Lanzamientos - Gaming Store{% endblock %}

{% block content %}
<div class="container mt-4 pt-3">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Nuevos Lanzamientos</h2>
    </div>
</div>

<div class="container mt-5">
    <div class="row row-cols-2 row-cols-md-5 g-4">
        {% for juego in juegos%}
        <div class="col">
            <div class="card h-100 shadow-sm">
                <a href="{% url 'agregar_favoritos' juego.id %}"
                    style="position: absolute; top: 0px; right: 15px; z-index: 10; color: white; font-size: 35px; font-weight: bold; text-decoration: none; text-shadow: 2px 2px 4px black;"
                    title="Agregar a favoritos">
                    ♡
                </a>
                {% if juego.imagen %}
                <img class="card-img-top" src="{{ juego.imagen.url }}" alt="{{ juego.titulo }}"
                    style="object-fit: cover; height: 250px;">
                {% else %}
                <img class="card-img-top" src="{% static 'img/no-image.png' %}" alt="Sin imagen"
                    style="object-fit: cover; height: 250px;">
                {% endif %}
                <div class="card-body text-center">
                    <h5 class="card-title fw-bold" style="font-size: 1rem;">{{ juego.titulo }}</h5>
                    <h5 class="card-title fw-bold" style="font-size: 1rem;">${{ juego.precio }}</h5>
                    <a href="{% url 'agregar_al_carrito' juego.id %}" style="text-decoration: none;">
                        <button class="btn btn-sm" style="background-color: #3d2b56; color: white; width: 100%;">Agregar
                            al Carrito</button>
                    </a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <p class="text-white text-center">No hay juegos disponibles.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}